.header {
  background-color: #4CAF50;
  padding: 10px;
  text-align: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
}

.header nav ul li {
  margin: 0 15px;
}

.header nav ul li a, .header nav ul li button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #4CAF50;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.header nav ul li button:hover, .header nav ul li a:hover {
  background-color: #45a049;
}
